In [1]:
import pandas as pd
import numpy as np

years = ['2014', '2015', '2016', '2017', '2018', '2019', '2020']
files = ['c{}_b_rv.csv', 'ef{}a_rv.csv', 'hd{}.csv']
#files = ['adm{}_rv.csv', 'c{}_a_rv.csv', 'ef{}a_rv.csv', 'gr{}_rv.csv', 'hd{}.csv', 's{}_oc_rv.csv']

In [2]:
# Get all the dataframes into a dictionary
dataframes = {'university_data': [], 'enrollment_data': [], 'completion_data': []}

for f in files:
    for y in years:
        data = pd.read_csv("C:\\project\\{}\\{}".format(y, f.format(y)), encoding = 'ISO-8859-1')
        data['year'] = int(y)
        
        if f[0] == 'h':
            dataframes['university_data'].append(data)
        elif f[0] == 'e':
            dataframes['enrollment_data'].append(data)
        elif f[0] == 'c':
            dataframes['completion_data'].append(data)

In [3]:
# Merge the data frames into one dataframe per category
unv_df = dataframes['university_data'][0]
enr_df = dataframes['enrollment_data'][0]
cmpl_df = dataframes['completion_data'][0]

for key in dataframes.keys():
    df_list = dataframes[key]
    count = 0

    for l_item in df_list:

        if count == 0:
            count += 1
            continue
        else:
            if key == 'university_data':
                unv_df = pd.concat([unv_df, l_item])
            elif key == 'enrollment_data':
                enr_df = pd.concat([enr_df, l_item])
            elif key == 'completion_data':
                cmpl_df = pd.concat([cmpl_df, l_item])
        
        count += 1

In [4]:
#school_data = pd.read_csv("C:\\project\\2014\\adm2014.csv", encoding = 'ISO-8859-1')
# Grab Washington Schools only
wa_unv_df = unv_df[(unv_df['STABBR'] == 'WA') & (unv_df['ICLEVEL'] == 1)][['UNITID', 'INSTNM', 'STABBR', 'ICLEVEL', 'year']]
wa_unv_df

,UNITID,INSTNM,STABBR,ICLEVEL,year
4119,234492,The Art Institute of Seattle,WA,1,2014
4121,234669,Bellevue College,WA,1,2014
4126,234827,Central Washington University,WA,1,2014
4127,234845,Centralia College,WA,1,2014
4128,234915,City University of Seattle,WA,1,2014
...,...,...,...,...,...
4707,443410,DigiPen Institute of Technology,WA,1,2020
5122,455406,Pacific Northwest University of Health Sciences,WA,1,2020
5496,475200,Whitworth University-Adult Degree Programs,WA,1,2020
5960,487603,Northwest University-College of Adult and Prof...,WA,1,2020
6016,488448,Seattle Film Institute,WA,1,2020

In [5]:
wa_enr_df = enr_df[enr_df['UNITID'].isin(wa_unv_df['UNITID'])]

In [6]:
# rename variables to something that we can understand better
wa_enr_df = wa_enr_df.rename(columns={'UNITID': 'institute_id',
                       'EFALEVEL': 'student_lvl',
                       'LINE': 'student_lvl_og',
                       'SECTION': 'attend_status',
                       'LSTUDY': 'student_lvl_2',
                       'EFTOTLT': 'e_total',
                       'EFTOTLM': 'e_total_m',
                       'EFTOTLW': 'e_total_w',
                       'EFAIANT': 'e_AmerInd_AlaskNtv',
                       'EFAIANM': 'e_AmerInd_AlaskNtv_m',
                       'EFAIANW': 'e_AmerInd_AlaskNtv_w',
                       'EFASIAT': 'e_Asian',
                       'EFASIAM': 'e_Asian_m',
                       'EFASIAW': 'e_Asian_w',
                       'EFBKAAT': 'e_AfrAmer',
                       'EFBKAAM': 'e_AfrAmer_m',
                       'EFBKAAW': 'e_AfrAmer_w',
                       'EFHISPT': 'e_Hispanic',
                       'EFHISPM': 'e_Hispanic_m',
                       'EFHISPW': 'e_Hispanic_w',
                       'EFNHPIT': 'e_Hi_PacIsland',
                       'EFNHPIM': 'e_Hi_PacIsland_m',
                       'EFNHPIW': 'e_Hi_PacIsland_w',
                       'EFWHITT': 'e_White',
                       'EFWHITM': 'e_White_m',
                       'EFWHITW': 'e_White_w',
                       'EF2MORT': 'e_2orMore',
                       'EF2MORM': 'e_2orMore_m',
                       'EF2MORW': 'e_2orMore_w',
                       'EFUNKNT': 'e_unknown',
                       'EFUNKNM': 'e_unknown_m',
                       'EFUNKNW': 'e_unknown_w',
                       'EFNRALT': 'e_nonresAlien',
                       'EFNRALM': 'e_nonresAlien_m',
                       'EFNRALW ': 'e_nonresAlien_w'
                       })

In [7]:
df_enrollment = wa_enr_df[wa_enr_df['student_lvl'] == 1][['institute_id', 'e_total', 'e_AmerInd_AlaskNtv', 'e_Asian', 'e_AfrAmer', 'e_Hispanic', 'e_Hi_PacIsland', 'e_White', 'e_2orMore', 'e_unknown', 'e_nonresAlien', 'year']].groupby(['institute_id', 'year']).sum()
df_enrollment

                   e_total  e_AmerInd_AlaskNtv  e_Asian  e_AfrAmer  \
institute_id year
102845       2014     3267                 132       40        198
             2015     1945                  84       93        104
             2016     2676                 246        6        162
             2017     2664                 334       13        148
             2018     2853                 305        7        187
...                    ...                 ...      ...        ...
488448       2016       71                   0        4          3
             2017      113                   1        4          8
             2018      100                   2        6         14
             2019      106                   3        7         14
             2020       96                   5        7          9

                   e_Hispanic  e_Hi_PacIsland  e_White  e_2orMore  e_unknown  \
institute_id year
102845       2014        1007             188     1430        142        130
             2015         588               6      841         92        137
             2016         746             151     1097        133        135
             2017         662             143     1070        128        166
             2018         706             171     1098        190        189
...                       ...             ...      ...        ...        ...
488448       2016           7               0       57          0          0
             2017           8               2       83          3          0
             2018           3               1       67          2          0
             2019          11               1       63          4          0
             2020           8               0       62          5          0

                   e_nonresAlien
institute_id year
102845       2014              0
             2015              0
             2016              0
             2017              0
             2018              0
...                          ...
488448       2016              0
             2017              4
             2018              5
             2019              3
             2020              0

[477 rows x 10 columns]

In [8]:
wa_cmpl_df = cmpl_df[cmpl_df['UNITID'].isin(wa_unv_df['UNITID'])]
wa_cmpl_df

,UNITID,XCSTOTLT,CSTOTLT,XCSTOTLM,CSTOTLM,XCSTOTLW,CSTOTLW,XCSAIANT,CSAIANT,XCSAIANM,...,CSUNKNM,XCSUNKNW,CSUNKNW,XCSNRALT,CSNRALT,XCSNRALM,CSNRALM,XCSNRALW,CSNRALW,year
67,102845,R,1613,R,431,R,1182,R,53,R,...,13,R,38,Z,0,Z,0,Z,0,2014
4026,234492,R,312,R,149,R,163,R,3,R,...,82,R,94,R,0,R,0,R,0,2014
4028,234669,R,2495,R,991,R,1504,R,13,R,...,74,R,123,R,252,R,114,R,138,2014
4029,234696,R,714,R,367,R,347,R,4,R,...,132,R,73,Z,0,Z,0,Z,0,2014
4033,234827,R,2694,R,1293,R,1401,R,10,R,...,95,R,113,R,62,R,42,R,20,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4539,443410,R,226,R,168,R,58,R,3,R,...,56,R,15,R,52,R,39,R,13,2020
4933,455406,R,141,R,73,R,68,R,0,R,...,2,R,3,R,1,R,0,R,1,2020
5298,475200,R,87,R,27,R,60,R,1,R,...,1,R,3,R,0,R,0,R,0,2020
5738,487603,R,238,R,107,R,131,R,1,R,...,2,R,2,Z,0,Z,0,Z,0,2020
5794,488448,R,55,R,35,R,20,R,0,R,...,0,R,0,R,4,R,1,R,3,2020

In [9]:
# rename variables to something that we can understand better
wa_cmpl_df = wa_cmpl_df.rename(columns={'UNITID': 'institute_id',
                       'CSTOTLT': 'c_total',
                       'CSAIANT': 'c_AmerInd_AlaskNtv',
                       'CSASIAT': 'c_Asian',
                       'CSBKAAT': 'c_AfrAmer',
                       'CSHISPT': 'c_Hispanic',
                       'CSNHPIT': 'c_Hi_PacIsland',
                       'CSWHITT': 'c_White',
                       'CS2MORT': 'c_2orMore',
                       'CSUNKNT': 'c_unknown',
                       'CSNRALT': 'c_nonresAlien'
                       })
wa_cmpl_df

,institute_id,XCSTOTLT,c_total,XCSTOTLM,CSTOTLM,XCSTOTLW,CSTOTLW,XCSAIANT,c_AmerInd_AlaskNtv,XCSAIANM,...,CSUNKNM,XCSUNKNW,CSUNKNW,XCSNRALT,c_nonresAlien,XCSNRALM,CSNRALM,XCSNRALW,CSNRALW,year
67,102845,R,1613,R,431,R,1182,R,53,R,...,13,R,38,Z,0,Z,0,Z,0,2014
4026,234492,R,312,R,149,R,163,R,3,R,...,82,R,94,R,0,R,0,R,0,2014
4028,234669,R,2495,R,991,R,1504,R,13,R,...,74,R,123,R,252,R,114,R,138,2014
4029,234696,R,714,R,367,R,347,R,4,R,...,132,R,73,Z,0,Z,0,Z,0,2014
4033,234827,R,2694,R,1293,R,1401,R,10,R,...,95,R,113,R,62,R,42,R,20,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4539,443410,R,226,R,168,R,58,R,3,R,...,56,R,15,R,52,R,39,R,13,2020
4933,455406,R,141,R,73,R,68,R,0,R,...,2,R,3,R,1,R,0,R,1,2020
5298,475200,R,87,R,27,R,60,R,1,R,...,1,R,3,R,0,R,0,R,0,2020
5738,487603,R,238,R,107,R,131,R,1,R,...,2,R,2,Z,0,Z,0,Z,0,2020
5794,488448,R,55,R,35,R,20,R,0,R,...,0,R,0,R,4,R,1,R,3,2020

In [10]:
df_completion = wa_cmpl_df[['institute_id', 'c_total', 'c_AmerInd_AlaskNtv', 'c_Asian', 'c_AfrAmer', 'c_Hispanic', 'c_Hi_PacIsland', 'c_White', 'c_2orMore', 'c_unknown', 'c_nonresAlien', 'year']].groupby(['institute_id', 'year']).sum()
df_completion

                   c_total  c_AmerInd_AlaskNtv  c_Asian  c_AfrAmer  \
institute_id year
102845       2014     1613                  53       48         67
             2015     1656                  43       28         67
             2016     1735                  62       89         88
             2017     1576                  81        4         82
             2018     1464                 162        7         64
...                    ...                 ...      ...        ...
488448       2016       38                   0        2          4
             2017       36                   0        4          1
             2018       50                   0        2          3
             2019       47                   1        3          2
             2020       55                   0        3          4

                   c_Hispanic  c_Hi_PacIsland  c_White  c_2orMore  c_unknown  \
institute_id year
102845       2014         572              61      685         76         51
             2015         544              72      788         51         63
             2016         505               4      790         78        119
             2017         445              71      736         70         87
             2018         368              73      650         63         77
...                       ...             ...      ...        ...        ...
488448       2016           1               0       31          0          0
             2017           4               0       26          0          0
             2018           5               0       38          0          0
             2019           2               1       30          5          0
             2020           6               1       36          1          0

                   c_nonresAlien
institute_id year
102845       2014              0
             2015              0
             2016              0
             2017              0
             2018              0
...                          ...
488448       2016              0
             2017              1
             2018              2
             2019              3
             2020              4

[480 rows x 10 columns]

In [11]:
df = pd.concat([df_enrollment, df_completion], axis = 1)
df

                   e_total  e_AmerInd_AlaskNtv  e_Asian  e_AfrAmer  \
institute_id year
102845       2014   3267.0               132.0     40.0      198.0
             2015   1945.0                84.0     93.0      104.0
             2016   2676.0               246.0      6.0      162.0
             2017   2664.0               334.0     13.0      148.0
             2018   2853.0               305.0      7.0      187.0
...                    ...                 ...      ...        ...
488448       2019    106.0                 3.0      7.0       14.0
             2020     96.0                 5.0      7.0        9.0
234492       2018      NaN                 NaN      NaN        NaN
439057       2018      NaN                 NaN      NaN        NaN
484303       2018      NaN                 NaN      NaN        NaN

                   e_Hispanic  e_Hi_PacIsland  e_White  e_2orMore  e_unknown  \
institute_id year
102845       2014      1007.0           188.0   1430.0      142.0      130.0
             2015       588.0             6.0    841.0       92.0      137.0
             2016       746.0           151.0   1097.0      133.0      135.0
             2017       662.0           143.0   1070.0      128.0      166.0
             2018       706.0           171.0   1098.0      190.0      189.0
...                       ...             ...      ...        ...        ...
488448       2019        11.0             1.0     63.0        4.0        0.0
             2020         8.0             0.0     62.0        5.0        0.0
234492       2018         NaN             NaN      NaN        NaN        NaN
439057       2018         NaN             NaN      NaN        NaN        NaN
484303       2018         NaN             NaN      NaN        NaN        NaN

                   e_nonresAlien  c_total  c_AmerInd_AlaskNtv  c_Asian  \
institute_id year
102845       2014            0.0     1613                  53       48
             2015            0.0     1656                  43       28
             2016            0.0     1735                  62       89
             2017            0.0     1576                  81        4
             2018            0.0     1464                 162        7
...                          ...      ...                 ...      ...
488448       2019            3.0       47                   1        3
             2020            0.0       55                   0        3
234492       2018            NaN      191                   4       15
439057       2018            NaN       19                   1        2
484303       2018            NaN       13                   0        3

                   c_AfrAmer  c_Hispanic  c_Hi_PacIsland  c_White  c_2orMore  \
institute_id year
102845       2014         67         572              61      685         76
             2015         67         544              72      788         51
             2016         88         505               4      790         78
             2017         82         445              71      736         70
             2018         64         368              73      650         63
...                      ...         ...             ...      ...        ...
488448       2019          2           2               1       30          5
             2020          4           6               1       36          1
234492       2018          9          19               1       87          1
439057       2018          1           0               0       15          0
484303       2018          0           0               1        8          0

                   c_unknown  c_nonresAlien
institute_id year
102845       2014         51              0
             2015         63              0
             2016        119              0
             2017         87              0
             2018         77              0
...                      ...            ...
488448       2019          0              3
             2020          0              4
234492       2018         25             30
439057       2018          0              0
484303       2018          0              1

[480 rows x 20 columns]

In [12]:
df.to_csv("C:\\project\\university_data2.csv")