In [1]:
import pandas as pd
import numpy as np

years = ['2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']
files = ['gr{}_rv.csv', 'ef{}a_rv.csv', 'hd{}.csv', 's{}_oc_rv.csv']
fiscalYearFiles = ['f{}_f1a_rv.csv', 'f{}_f2_rv.csv', 'sfa{}_rv.csv']
#files = ['adm{}_rv.csv', 'c{}_a_rv.csv', 'ef{}a_rv.csv', 'gr{}_rv.csv', 'hd{}.csv', 's{}_oc_rv.csv']

In [2]:
def GetFiscalYear(year):
    endYear = year[-2:]
    numEndYear = int(endYear)
    startYear = numEndYear-1
    return str(startYear) + endYear

In [3]:
# Get all the dataframes into a dictionary
dataframes = {'university_data': [], 'enrollment_data': [], 'graduation_data': [], 'staff_data': [], 'finance1_data': [], 'finance2_data': [], 'finaid_data': []}

# Loop through the 8 years of data and create a dataframe for each year and append it to a list
for y in years:
    for f in files:
        data = pd.read_csv("C:\\project\\{}\\{}".format(y, f.format(y)), encoding = 'ISO-8859-1')
        data['year'] = int(y)
        
        if f[0] == 'h':
            dataframes['university_data'].append(data)
        elif f[0] == 'e':
            dataframes['enrollment_data'].append(data)
        elif f[0] == 'g':
            dataframes['graduation_data'].append(data)
        elif f[0] == 's':
            dataframes['staff_data'].append(data)
            
    fiscalYear = GetFiscalYear(y)
    for fyf in fiscalYearFiles:
        fdata = pd.read_csv("C:\\project\\{}\\{}".format(y, fyf.format(fiscalYear)), encoding = 'ISO-8859-1')
        fdata['year'] = int(y)
        
        if 'f1a' in fyf:
            dataframes['finance1_data'].append(fdata)
        elif 'f2' in fyf:
            dataframes['finance2_data'].append(fdata)
        elif 'sfa' in fyf:
            dataframes['finaid_data'].append(fdata)

In [4]:
# Merge the data frames into one dataframe per category
df_unv = dataframes['university_data'][0]
df_enr = dataframes['enrollment_data'][0]
df_grad = dataframes['graduation_data'][0]
df_staff = dataframes['staff_data'][0]
df_finance1 = dataframes['finance1_data'][0]
df_finance2 = dataframes['finance2_data'][0]
df_finaid = dataframes['finaid_data'][0]

# Loop through the lists of each type of data frame and concat them together
for key in dataframes.keys():
    df_list = dataframes[key]
    count = 0

    for l_item in df_list:

        if count == 0:
            count += 1
            continue
        else:
            if key == 'university_data':
                df_unv = pd.concat([df_unv, l_item])
            elif key == 'enrollment_data':
                df_enr = pd.concat([df_enr, l_item])
            elif key == 'graduation_data':
                df_grad = pd.concat([df_grad, l_item])
            elif key == 'staff_data':
                df_staff = pd.concat([df_staff, l_item])
            elif key == 'finance1_data':
                df_finance1 = pd.concat([df_finance1, l_item])
            elif key == 'finance2_data':
                df_finance2 = pd.concat([df_finance2, l_item])
            elif key == 'finaid_data':
                df_finaid = pd.concat([df_finaid, l_item])
        
        count += 1

In [5]:
# rename variables to something that we can understand better
df_unv = df_unv.rename(columns={'UNITID': 'institute_id',
                       'INSTNM': 'institute_name',
                       'STABBR': 'state',
                       'ICLEVEL': 'university_level',
                       'HLOFFER': 'highest_level_offered',
                       'CITY':   'city',
                       'ZIP':    'zip'
                       })

In [6]:
# rename variables to something that we can understand better
df_enr = df_enr.rename(columns={'UNITID': 'institute_id',
                       'EFALEVEL': 'student_lvl',
                       'LINE': 'student_lvl_og',
                       'SECTION': 'attend_status',
                       'LSTUDY': 'student_lvl_2',
                       'EFTOTLT': 'e_total',
                       'EFAIANT': 'e_AmerInd_AlaskNtv',
                       'EFASIAT': 'e_Asian',
                       'EFBKAAT': 'e_AfrAmer',
                       'EFHISPT': 'e_Hispanic',
                       'EFNHPIT': 'e_Hi_PacIsland',
                       'EFWHITT': 'e_White',
                       'EF2MORT': 'e_2orMore',
                       'EFUNKNT': 'e_unknown',
                       'EFNRALT': 'e_nonresAlien'
                       })

In [7]:
# rename variables to something that we can understand better
df_finance1 = df_finance1.rename(columns={'UNITID': 'institute_id',
                       'F1H02': 'public_endowment'
                       })

In [8]:
# rename variables to something that we can understand better
df_finance2 = df_finance2.rename(columns={'UNITID': 'institute_id',
                       'F2H02': 'private_endowment'
                       })

In [9]:
df_finaid = df_finaid.rename(columns={'UNITID': 'institute_id',
                        'GIS4N2': 'number_in_all_levels',
                        'GIS4N12': 'number_in_income_level1',
                        'GIS4T12': 'total_scholarship_level1',
                        'GIS4A12': 'average_amt_awarded_level1',
                        'GIS4N22': 'number_in_income_level2',
                        'GIS4T22': 'total_scholarship_level2',
                        'GIS4A22': 'average_amt_awarded_level2',
                        'GIS4N32': 'number_in_income_level3',
                        'GIS4T32': 'total_scholarship_level3',
                        'GIS4A32': 'average_amt_awarded_level3',
                        'GIS4N42': 'number_in_income_level4',
                        'GIS4T42': 'total_scholarship_level4',
                        'GIS4A42': 'average_amt_awarded_level4',
                        'GIS4N52': 'number_in_income_level5',
                        'GIS4T52': 'total_scholarship_level5',
                        'GIS4A52': 'average_amt_awarded_level5'
})

In [10]:
df_cohort = df_grad.copy()

In [11]:
# rename variables to something that we can understand better
df_grad = df_grad.rename(columns={'UNITID': 'institute_id',
                        'GRTOTLT': 'gr_total',
                        'GRAIANT': 'gr_AmerInd_AlaskNtv',
                        'GRASIAT': 'gr_Asian',
                        'GRBKAAT': 'gr_AfrAmer',
                        'GRHISPT': 'gr_Hispanic',
                        'GRNHPIT': 'gr_Hi_PacIsland',
                        'GRWHITT': 'gr_White',
                        'GR2MORT': 'gr_2orMore',
                        'GRUNKNT': 'gr_unknown',
                        'GRNRALT': 'gr_nonresAlien'
                       })
df_grad.head()

,institute_id,GRTYPE,CHRTSTAT,SECTION,COHORT,LINE,XGRTOTLT,gr_total,XGRTOTLM,GRTOTLM,...,XGRUNKNW,GRUNKNW,XGRNRALT,gr_nonresAlien,XGRNRALM,GRNRALM,XGRNRALW,GRNRALW,year,GRNRALW
0,100654,2,12,1,1,999,R,882,R,407.0,...,R,0.0,R,5.0,R,2.0,R,3.0,2013,NaN
1,100654,3,13,1,1,999,R,257,R,93.0,...,Z,0.0,R,2.0,Z,0.0,R,2.0,2013,NaN
2,100654,4,20,1,1,999,R,197,R,100.0,...,Z,0.0,R,1.0,R,0.0,R,1.0,2013,NaN
3,100654,6,10,2,2,10,R,882,R,407.0,...,R,0.0,R,5.0,R,2.0,R,3.0,2013,NaN
4,100654,8,12,2,2,50,R,882,R,407.0,...,R,0.0,R,5.0,R,2.0,R,3.0,2013,NaN

In [12]:
# rename variables to something that we can understand better
df_cohort = df_cohort.rename(columns={'UNITID': 'institute_id',
                        'GRTOTLT': 'co_total',
                        'GRAIANT': 'co_AmerInd_AlaskNtv',
                        'GRASIAT': 'co_Asian',
                        'GRBKAAT': 'co_AfrAmer',
                        'GRHISPT': 'co_Hispanic',
                        'GRNHPIT': 'co_Hi_PacIsland',
                        'GRWHITT': 'co_White',
                        'GR2MORT': 'co_2orMore',
                        'GRUNKNT': 'co_unknown',
                        'GRNRALT': 'co_nonresAlien'
                       })
df_cohort.head()

,institute_id,GRTYPE,CHRTSTAT,SECTION,COHORT,LINE,XGRTOTLT,co_total,XGRTOTLM,GRTOTLM,...,XGRUNKNW,GRUNKNW,XGRNRALT,co_nonresAlien,XGRNRALM,GRNRALM,XGRNRALW,GRNRALW,year,GRNRALW
0,100654,2,12,1,1,999,R,882,R,407.0,...,R,0.0,R,5.0,R,2.0,R,3.0,2013,NaN
1,100654,3,13,1,1,999,R,257,R,93.0,...,Z,0.0,R,2.0,Z,0.0,R,2.0,2013,NaN
2,100654,4,20,1,1,999,R,197,R,100.0,...,Z,0.0,R,1.0,R,0.0,R,1.0,2013,NaN
3,100654,6,10,2,2,10,R,882,R,407.0,...,R,0.0,R,5.0,R,2.0,R,3.0,2013,NaN
4,100654,8,12,2,2,50,R,882,R,407.0,...,R,0.0,R,5.0,R,2.0,R,3.0,2013,NaN

In [17]:
# Get Public 4 year Universities
df_unv = df_unv[(df_unv['SECTOR'] == 1) & (df_unv['university_level'] == 1)][['institute_id', 'institute_name', 'state', 'city', 'zip', 'year']]

In [19]:
df_unv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6126 entries, 0 to 6393
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   institute_id    6126 non-null   int64
 1   institute_name  6126 non-null   object
 2   state           6126 non-null   object
 3   city            6126 non-null   object
 4   zip             6126 non-null   object
 5   year            6126 non-null   int64
dtypes: int64(2), object(4)
memory usage: 335.0+ KB

In [20]:
# Get 4 year university enrollment numbers
df_enr = df_enr[(df_enr['student_lvl'] == 1) & (df_enr['institute_id'].isin(df_unv['institute_id']))][['institute_id', 'e_total', 'e_AmerInd_AlaskNtv', 'e_Asian', 'e_AfrAmer', 'e_Hispanic', 'e_Hi_PacIsland', 'e_White', 'e_2orMore', 'e_unknown', 'e_nonresAlien', 'year']]

In [21]:
# Get graduation numbers for 150% graduation rate (6 years from enrollment)
df_grad = df_grad[(df_grad['GRTYPE'] == 3) & (df_grad['SECTION'] == 1) & (df_grad['institute_id'].isin(df_unv['institute_id']))][['institute_id', 'gr_total', 'gr_AmerInd_AlaskNtv', 'gr_Asian', 'gr_AfrAmer', 'gr_Hispanic', 'gr_Hi_PacIsland', 'gr_White', 'gr_2orMore', 'gr_unknown', 'gr_nonresAlien', 'year']]

In [22]:
# Get the cohort student counts (enrollment class from 6 years ago)
df_cohort = df_cohort[(df_cohort['GRTYPE'] == 2) & (df_cohort['SECTION'] == 1) & (df_cohort['institute_id'].isin(df_unv['institute_id']))][['institute_id', 'co_total', 'co_AmerInd_AlaskNtv', 'co_Asian', 'co_AfrAmer', 'co_Hispanic', 'co_Hi_PacIsland', 'co_White', 'co_2orMore', 'co_unknown', 'co_nonresAlien', 'year']]

In [23]:
# rename variables to something that we can understand better
df_staff = df_staff.rename(columns={'UNITID': 'institute_id',
                        'HRTOTLT': 'hr_total',
                        'HRAIANT': 'hr_AmerInd_AlaskNtv',
                        'HRASIAT': 'hr_Asian',
                        'HRBKAAT': 'hr_AfrAmer',
                        'HRHISPT': 'hr_Hispanic',
                        'HRNHPIT': 'hr_Hi_PacIsland',
                        'HRWHITT': 'hr_White',
                        'HR2MORT': 'hr_2orMore',
                        'HRUNKNT': 'hr_unknown',
                        'HRNRALT': 'hr_nonresAlien'
                       })

In [24]:
# Get instructional staff (full-time and part-time faculty) numbers
df_staff = df_staff[(df_staff.STAFFCAT == 1210) & (df_staff['institute_id'].isin(df_unv['institute_id']))][['institute_id', 'hr_total', 'hr_AmerInd_AlaskNtv', 'hr_Asian', 'hr_AfrAmer', 'hr_Hispanic', 'hr_Hi_PacIsland', 'hr_White', 'hr_2orMore', 'hr_unknown', 'hr_nonresAlien', 'year']]

In [25]:
# Get public university endowments
df_finance1 = df_finance1[df_finance1['institute_id'].isin(df_unv['institute_id'])][['institute_id', 'public_endowment', 'year']]

In [26]:
# Get private university endowments
df_finance2 = df_finance2[df_finance2['institute_id'].isin(df_unv['institute_id'])][['institute_id', 'private_endowment', 'year']]

In [27]:
# Get student income levels for those that applied for financial aid
df_finaid = df_finaid[df_finaid['institute_id'].isin(df_unv['institute_id'])][['institute_id', 'number_in_all_levels', 'number_in_income_level1', 'total_scholarship_level1', 'average_amt_awarded_level1', 'number_in_income_level2', 'total_scholarship_level2', 'average_amt_awarded_level2', 'number_in_income_level3', 'total_scholarship_level3', 'average_amt_awarded_level3', 'number_in_income_level4', 'total_scholarship_level4', 'average_amt_awarded_level4', 'number_in_income_level5', 'total_scholarship_level5', 'average_amt_awarded_level5', 'year']]

In [33]:
df_unv['institute_id'].nunique()

848

In [34]:
df_enr['institute_id'].nunique()

837

In [35]:
df_grad['institute_id'].nunique()

779

In [36]:
df_cohort['institute_id'].nunique()

780

In [38]:
df_finance1['institute_id'].nunique()

764

In [39]:
df_finance2['institute_id'].nunique()

33

In [40]:
df_finaid['institute_id'].nunique()

813

In [41]:
# Merge data frames together
# Skipping private schools because the majority of them didn't report financial aid information
df = df_grad.merge(df_cohort, how='outer', on = ['institute_id', 'year'])
df = df.merge(df_staff, how='outer', on = ['institute_id', 'year'])
df = df.merge(df_enr, how = 'outer', on = ['institute_id', 'year'])
df = df.merge(df_unv, how='outer', on = ['institute_id', 'year'])
df = df.merge(df_finance1, how='outer', on = ['institute_id', 'year'])
#df = df.merge(df_finance2, how = 'outer', on = ['institute_id', 'year'])
df = df.merge(df_finaid, how = 'outer', on = ['institute_id', 'year'])

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6579 entries, 0 to 6578
Data columns (total 63 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   institute_id                6579 non-null   int64
 1   gr_total                    5669 non-null   float64
 2   gr_AmerInd_AlaskNtv         5669 non-null   float64
 3   gr_Asian                    5669 non-null   float64
 4   gr_AfrAmer                  5669 non-null   float64
 5   gr_Hispanic                 5669 non-null   float64
 6   gr_Hi_PacIsland             5669 non-null   float64
 7   gr_White                    5669 non-null   float64
 8   gr_2orMore                  5669 non-null   float64
 9   gr_unknown                  5669 non-null   float64
 10  gr_nonresAlien              5669 non-null   float64
 11  year                        6579 non-null   int64
 12  co_total                    5676 non-null   float64
 13  co_AmerInd_AlaskNtv         5676 non-null   float64
 14  co_Asian                    5676 non-null   float64
 15  co_AfrAmer                  5676 non-null   float64
 16  co_Hispanic                 5676 non-null   float64
 17  co_Hi_PacIsland             5676 non-null   float64
 18  co_White                    5676 non-null   float64
 19  co_2orMore                  5676 non-null   float64
 20  co_unknown                  5676 non-null   float64
 21  co_nonresAlien              5676 non-null   float64
 22  hr_total                    6280 non-null   float64
 23  hr_AmerInd_AlaskNtv         6280 non-null   float64
 24  hr_Asian                    6280 non-null   float64
 25  hr_AfrAmer                  6280 non-null   float64
 26  hr_Hispanic                 6280 non-null   float64
 27  hr_Hi_PacIsland             6280 non-null   float64
 28  hr_White                    6280 non-null   float64
 29  hr_2orMore                  6280 non-null   float64
 30  hr_unknown                  6280 non-null   float64
 31  hr_nonresAlien              6280 non-null   float64
 32  e_total                     6487 non-null   float64
 33  e_AmerInd_AlaskNtv          6487 non-null   float64
 34  e_Asian                     6487 non-null   float64
 35  e_AfrAmer                   6487 non-null   float64
 36  e_Hispanic                  6487 non-null   float64
 37  e_Hi_PacIsland              6487 non-null   float64
 38  e_White                     6487 non-null   float64
 39  e_2orMore                   6487 non-null   float64
 40  e_unknown                   6487 non-null   float64
 41  e_nonresAlien               6487 non-null   float64
 42  institute_name              6126 non-null   object
 43  state                       6126 non-null   object
 44  city                        6126 non-null   object
 45  zip                         6126 non-null   object
 46  public_endowment            5475 non-null   float64
 47  number_in_all_levels        5984 non-null   float64
 48  number_in_income_level1     5983 non-null   float64
 49  total_scholarship_level1    5983 non-null   float64
 50  average_amt_awarded_level1  5975 non-null   float64
 51  number_in_income_level2     5983 non-null   float64
 52  total_scholarship_level2    5983 non-null   float64
 53  average_amt_awarded_level2  5938 non-null   float64
 54  number_in_income_level3     5983 non-null   float64
 55  total_scholarship_level3    5983 non-null   float64
 56  average_amt_awarded_level3  5912 non-null   float64
 57  number_in_income_level4     5983 non-null   float64
 58  total_scholarship_level4    5983 non-null   float64
 59  average_amt_awarded_level4  5764 non-null   float64
 60  number_in_income_level5     5983 non-null   float64
 61  total_scholarship_level5    5983 non-null   float64
 62  average_amt_awarded_level5  5453 non-null   float64
dtypes: float64(57), int64(2), object(4)
memory usage: 3.2+ MB

In [46]:
# Dropping rows with blank graduation rows

# When examining the data, there is a group of universities that were public 2 year universities / colleges
# they then started granting 4 year degress later, but all their years between 2013 - 2020 were pulled in
# Example: Institute ID 180203 / Aaniiih Nakoda College, so those years without graduation rates being reported are dropped

df = df[df['gr_total'].notna()]

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5669 entries, 0 to 5668
Data columns (total 63 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   institute_id                5669 non-null   int64
 1   gr_total                    5669 non-null   float64
 2   gr_AmerInd_AlaskNtv         5669 non-null   float64
 3   gr_Asian                    5669 non-null   float64
 4   gr_AfrAmer                  5669 non-null   float64
 5   gr_Hispanic                 5669 non-null   float64
 6   gr_Hi_PacIsland             5669 non-null   float64
 7   gr_White                    5669 non-null   float64
 8   gr_2orMore                  5669 non-null   float64
 9   gr_unknown                  5669 non-null   float64
 10  gr_nonresAlien              5669 non-null   float64
 11  year                        5669 non-null   int64
 12  co_total                    5669 non-null   float64
 13  co_AmerInd_AlaskNtv         5669 non-null   float64
 14  co_Asian                    5669 non-null   float64
 15  co_AfrAmer                  5669 non-null   float64
 16  co_Hispanic                 5669 non-null   float64
 17  co_Hi_PacIsland             5669 non-null   float64
 18  co_White                    5669 non-null   float64
 19  co_2orMore                  5669 non-null   float64
 20  co_unknown                  5669 non-null   float64
 21  co_nonresAlien              5669 non-null   float64
 22  hr_total                    5539 non-null   float64
 23  hr_AmerInd_AlaskNtv         5539 non-null   float64
 24  hr_Asian                    5539 non-null   float64
 25  hr_AfrAmer                  5539 non-null   float64
 26  hr_Hispanic                 5539 non-null   float64
 27  hr_Hi_PacIsland             5539 non-null   float64
 28  hr_White                    5539 non-null   float64
 29  hr_2orMore                  5539 non-null   float64
 30  hr_unknown                  5539 non-null   float64
 31  hr_nonresAlien              5539 non-null   float64
 32  e_total                     5667 non-null   float64
 33  e_AmerInd_AlaskNtv          5667 non-null   float64
 34  e_Asian                     5667 non-null   float64
 35  e_AfrAmer                   5667 non-null   float64
 36  e_Hispanic                  5667 non-null   float64
 37  e_Hi_PacIsland              5667 non-null   float64
 38  e_White                     5667 non-null   float64
 39  e_2orMore                   5667 non-null   float64
 40  e_unknown                   5667 non-null   float64
 41  e_nonresAlien               5667 non-null   float64
 42  institute_name              5601 non-null   object
 43  state                       5601 non-null   object
 44  city                        5601 non-null   object
 45  zip                         5601 non-null   object
 46  public_endowment            4883 non-null   float64
 47  number_in_all_levels        5559 non-null   float64
 48  number_in_income_level1     5559 non-null   float64
 49  total_scholarship_level1    5559 non-null   float64
 50  average_amt_awarded_level1  5557 non-null   float64
 51  number_in_income_level2     5559 non-null   float64
 52  total_scholarship_level2    5559 non-null   float64
 53  average_amt_awarded_level2  5535 non-null   float64
 54  number_in_income_level3     5559 non-null   float64
 55  total_scholarship_level3    5559 non-null   float64
 56  average_amt_awarded_level3  5515 non-null   float64
 57  number_in_income_level4     5559 non-null   float64
 58  total_scholarship_level4    5559 non-null   float64
 59  average_amt_awarded_level4  5408 non-null   float64
 60  number_in_income_level5     5559 non-null   float64
 61  total_scholarship_level5    5559 non-null   float64
 62  average_amt_awarded_level5  5149 non-null   float64
dtypes: float64(57), int64(2), object(4)
memory usage: 2.8+ MB

In [48]:
df.to_csv("C:\\project\\university_data.csv")